body
{



}




#oszlop  
{
background-color: grey;
}



h1{
font-size: 50px;
font-weight: bold;
font-style: italic;
text-align: center;
}

h2{
font-size: 30px;
font-weight: normal;
}

h3{
    font-size: 30px;
    font-weight: normal;
}


p{
font-size: 20px;
}





