body
{
background-color: black;


}




#oszlop  
{
background-color: rgb(96, 231, 114);
}



h1{
font-size: 50px;
font-weight: bold;
font-style: italic;
text-align: center;
}

h2{
font-size: 30px;
font-weight: normal;
}

h3{
    font-size: 30px;
    font-weight: normal;
}


p{
font-size: 20px;
}

#vita{

background-color: rgb(184, 214, 170);

}




